services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: firewall_dev
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d firewall_dev -h 127.0.0.1 -p 5432"]
      interval: 5s
      timeout: 3s
      retries: 20

  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/.env.dev
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      VM_IP: host.docker.internal
      VM_PORT: "9999"

    depends_on:
      db:
        condition: service_healthy
    command: ["npm","run","start"]
    ports:
      - "4000:4000"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    env_file:
      - ./frontend/.env.dev
    depends_on:
      - backend
    ports:
      - "3000:3000"
    command: sh -c "npm run start"
    restart: unless-stopped

volumes:
  db-data:
